h1 {
  background-color: #D3D3D3;
}

p {
  font-weight: bold;
}

#fullRecipeButton{
  text-align: center;
}

#dishDetailIngredients div, #summaryRowPrice div {border:0; padding: 2px; margin-left: 10px;}
#dishDetailIngredients {
  border-top-width: medium;
  border-left: 0;
  border-right: 0;
  border-bottom-width: medium;
  visibility: hidden;
}
#dishDetailGuestNumber {font-size: 26px;}

#summaryView div {border:0;}
#summaryGuestNumber {font-size: 26px;}
#summaryDishes {border-top-width: medium; }


@media  (max-width: 500px) {
  #dishDetailIngredients {visibility:visible;
  }
 }
