h1 {
  background-color: #D3D3D3;
}

p {
  font-weight: bold;
}

#sideBarView{
  border-style: solid;
}
#fullRecipeButton{
  text-align: center;
}

#dishDetailIngredients div, #summaryRowPrice div {border:0; padding: 2px; margin-left: 10px;}
#dishDetailIngredients {
  border-top-width: medium;
  border-left: 0;
  border-right: 0;
  border-bottom-width: medium;
}
#dishDetailGuestNumber {font-size: 26px;}

#summaryView div {border:0;}
#summaryGuestNumber {font-size: 26px;}
#summaryDishes {border-top-width: medium; }


@media  (max-width: 500px) {
  #dishDetailIngredients {
    visibility:visible;
  }
 }

@media  (min-width: 569px){
  #mobileSideBar{
    display: none;
  }
}

@media  (max-width: 569px) {
   #desktopSideBar {
     display: none;
   }
  }

.collapse.in {
      display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.notFound {
    text-align: center;
    font-weight: bold;
    font-size: 20;

}
