h1 {
  background-color: #D3D3D3;
}

p {
  font-weight: bold;
}

#sideBarView{
  border-style: solid;
}
#fullRecipeButton{
  text-align: center;
}

#dishDetailIngredients div, #summaryRowPrice div {border:0; padding: 2px; margin-left: 10px;}
#dishDetailIngredients {
  border-top-width: medium;
  border-left: 0;
  border-right: 0;
  border-bottom-width: medium;
}
#dishDetailGuestNumber {font-size: 26px;}

#summaryView div {border:0;}
#summaryGuestNumber {font-size: 26px;}
#summaryDishes {border-top-width: medium; }


@media  (max-width: 500px) {
  #dishDetailIngredients {
    visibility:visible;
  }
 }

@media  (min-width: 569px){
  #mobileSideBar{
    display: none;
  }
}

@media  (max-width: 569px) {
   #desktopSideBar {
     display: none;
   }
  }

.collapse.in {
      display: block;
}

/* div { border:1px solid;} */
